{% include 'base_candidaturas.html' %}

{% load static %}
    

{% block content %}
<style>
.messages {
    width: 400px;
    margin-bottom: 20px;
    list-style: none;
}

.alert {
    padding: 15px;
    border-radius: 25px; /* Borda arredondada */
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    list-style-type: none; /* Remove o ponto do li */
    text-decoration: none; /* Remove a decoração de texto */
}

/* Estilos específicos para alerta de aviso */
.alert-warning {
    background-color: #fff3cd;
    padding: 15px;
    text-decoration: none;
    color: #856404;
    border: none;
    border-radius: 20px; /* Borda arredondada específica */
}

.alert-warning {
    background-color: #cdffda;
    padding: 15px;
    text-decoration: none;
    color: #318504;
    border: none;
    border-radius: 20px; /* Borda arredondada específica */
}

/* Estilos específicos para alerta de informação */
.alert-info {
    background-color: #cce5ff;
    padding: 15px;
    text-decoration: none;
    color: #004085;
    border: none;
    border-radius: 20px; /* Borda arredondada específica */
}

.alert ul {
    padding-left: 0; /* Remove o recuo padrão */
    list-style-type: none; /* Remove os pontos da lista */
}

.errorlist {
    margin-top: 5px;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 20px;
}

.errorlist p {
    color: #721c24;
    font-size: 12px;
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    .messages {
        width: 100%;
        padding: 0 15px;
    }

    .alert {
        border-radius: 0;
    }
}
</style>

<section class="section-vagas">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Suas candidaturas</h1>
    <h3 id="title-desc">Acompanhe o andamento de suas candidaturas.</h3>

    <section class="section-show-vagas">
        <form method="get" class="vagas-filtros">
            <div class="search-bar">
                <i class="bi bi-search"></i>
                <input type="text" name="titulo" value="{{ request.GET.titulo }}" id="id_titulo"
                    placeholder="Nome da Vaga...">
            </div>

            <div id="botao-resp-filtros">
                <i class="bi bi-filter"></i>
                <p>Filtrar</p>
            </div>
                
            <div class="filter-section">
                <h3>Tipo de Contrato</h3>
                <div class="filter-select" id="contrato">
                    <label>
                        <input type="checkbox" name="contrato" value="clt" id="clt"
                        {% if 'clt' in f_contratos %}
                            checked
                        {% endif %}
                            >
                        CLT
                    </label>
                    <label>
                        <input type="checkbox" name="contrato" value="pj" id="pj"
                        {% if 'pj' in f_contratos %}
                            checked
                        {% endif %}
                            >
                        PJ
                    </label>
                    <label>
                        <input type="checkbox" name="contrato" value="estagio" id="estagio"
                        {% if 'estagio' in f_contratos %}
                            checked
                        {% endif %}
                            >
                        Estágio
                    </label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Nível de Experiência</h3>
                <div class="filter-select" id="experiencia">
                    <label>
                        <input type="checkbox" name="experiencia" value="junior"
                        {% if 'junior' in f_experiencias %}
                            checked
                        {% endif %}
                        >
                        Junior
                    </label>
                    <label>
                        <input type="checkbox" name="experiencia" value="pleno"
                        {% if 'pleno' in f_experiencias %}
                            checked
                        {% endif %}
                        >
                        Pleno
                    </label>
                    <label>
                        <input type="checkbox" name="experiencia" value="senior"
                        {% if 'senior' in f_experiencias %}
                            checked
                        {% endif %}
                        >
                        Senior
                    </label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Habilidades</h3>
                <div class="filter-select" id="stack">
                    
                    {% for stack in stacks %}
                    <label>
                        <input type="checkbox" name="stack" value="{{stack.0}}"
                        {% if stack.0 in f_stacks %}
                            checked
                        {% endif %}
                        >
                        {{stack.1}}
                    </label>
                    {% endfor %}
                        
                </div>
            </div>
            <div class="filter-section">
                <h3>Local da Vaga</h3>
                <div class="search-bar">
                    <input type="text" name="local" value="{{ request.GET.local }}" id="id_local"
                        placeholder="Cidade...">
                </div>
            </div>
            <button style="display: none;" type="submit">
            </button>
        </form>

        
        {% if candidaturas %}
                
                    
        {% for candidatura in candidaturas %}

            <div class="area-vagas">
                
                <div class="vaga">
                    <div id="candidatura-info" class="vaga-info">
                        <h3>{{candidatura.vaga.titulo}}</h3>
                        <div class="candidatura-icons">
                            <p><i class="bi bi-briefcase"></i> {{candidatura.vaga.empresa}}</p>
                            <p><i class="bi bi-geo-alt"></i> {{candidatura.vaga.local}}</p>
                        </div>
                        <div class="candidatura-progress-area">
                            <div class="progress-desc">
                                <p>Progresso</p>
                                <p>{{candidatura.etapa}}/{{candidatura.vaga.qntd_etapas}} Etapa(s)</p>
                            </div>
                            <div class="progress-out">
                                <div style="width: {{candidatura.progresso}}%;" class="progress-in">
                                </div>
                            </div>
                        </div>
                        
                        {% if candidatura.is_ativa == True %}
                            
                            
                        <div class="candidatura-actions">
                            <a href="{% url 'candidatura-delete-page' candidatura.id %}">Desistir da Vaga</a>
                            <a id="candidatura-details" href="">Ver Andamento</a>
                        </div>
                        
                        {% endif %}
                    </div>
                </a>
            </div>
            

        {% endfor %}

        {% else %}
            
        <div class="area-vagas">
                
            <div class="vaga">
                <div id="candidatura-info" class="vaga-info">
                    
                </div>
            </a>
        </div>    

        {% endif %}
            
    </section>
</section>

{% endblock content %}

{% block footer %}
<footer>
    <img src="{% static 'img/logo2.svg' %}" alt="">
    <h3>CodersRecruit © 2024</h3>
    <div></div>
</footer>
{% endblock footer %}
    