{% include 'base_candidaturas.html' %}

{% load static %}


{% block nav %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const userButton = document.querySelector("#user-button");
        const userDropdown = document.querySelector("#user-dropdown");

        // Initialize Popper.js
        const popperInstance = Popper.createPopper(userButton, userDropdown, {
            placement: 'bottom-end',
            modifiers: [
                {
                    name: 'offset',
                    options: {
                        offset: [0, 0],
                    },
                },
            ],
        });

        // Toggle dropdown visibility
        userButton.addEventListener("click", function () {
            userDropdown.classList.toggle("hidden");
            if (!userDropdown.classList.contains("hidden")) {
                popperInstance.update();
            }
        });

        // Close dropdown when clicking outside
        document.addEventListener("click", function (event) {
            if (!userButton.contains(event.target) && !userDropdown.contains(event.target)) {
                userDropdown.classList.add("hidden");
            }
        });
    });
</script>
<nav>
    <a href="{% url 'index' %}">
        <img src="{% static 'img/logo1.svg' %}" alt="">
        <img id="img_resp" src="{% static 'img/logo_resp.svg' %}" alt="">
    </a>
    <div id="logged-nav" class="nav-div-button">
        <a id="notification-button">
            <i class="bi bi-bell"></i>
        </a>
        <div id="user-menu-container" class="nav-button">
            <a id="user-button" class="nav-button">
                <i class="bi bi-person-circle"></i>
                <p>{{request.user}}</p>
            </a>
            <div id="user-dropdown" class="dropdown hidden">
                <a href="#">Perfil</a>
                <a href="{% url 'candidaturas' %}">Candidaturas</a>
                <a href="{% url 'account_logout' %}">Sair</a>
            </div>
        </div>
    </div>
</nav>
{% endblock nav %}
    

{% block content %}
<section class="section-vagas">
    <h1>Suas candidaturas</h1>
    <h3 id="title-desc">Acompanhe o andamento de suas candidaturas.</h3>

    <section class="section-show-vagas">
        <form method="get" class="vagas-filtros">
            <div class="search-bar">
                <i class="bi bi-search"></i>
                <input type="text" name="titulo" value="{{ request.GET.titulo }}" id="id_titulo"
                    placeholder="Nome da Vaga...">
            </div>

            <div id="botao-resp-filtros">
                <i class="bi bi-filter"></i>
                <p>Filtrar</p>
            </div>
                
            <div class="filter-section">
                <h3>Tipo de Contrato</h3>
                <div class="filter-select" id="contrato">
                    <label>
                        <input type="checkbox" name="contrato" value="clt" id="clt"
                        {% if 'clt' in f_contratos %}
                            checked
                        {% endif %}
                            >
                        CLT
                    </label>
                    <label>
                        <input type="checkbox" name="contrato" value="pj" id="pj"
                        {% if 'pj' in f_contratos %}
                            checked
                        {% endif %}
                            >
                        PJ
                    </label>
                    <label>
                        <input type="checkbox" name="contrato" value="estagio" id="estagio"
                        {% if 'estagio' in f_contratos %}
                            checked
                        {% endif %}
                            >
                        Estágio
                    </label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Nível de Experiência</h3>
                <div class="filter-select" id="experiencia">
                    <label>
                        <input type="checkbox" name="experiencia" value="junior"
                        {% if 'junior' in f_experiencias %}
                            checked
                        {% endif %}
                        >
                        Junior
                    </label>
                    <label>
                        <input type="checkbox" name="experiencia" value="pleno"
                        {% if 'pleno' in f_experiencias %}
                            checked
                        {% endif %}
                        >
                        Pleno
                    </label>
                    <label>
                        <input type="checkbox" name="experiencia" value="senior"
                        {% if 'senior' in f_experiencias %}
                            checked
                        {% endif %}
                        >
                        Senior
                    </label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Habilidades</h3>
                <div class="filter-select" id="stack">
                    
                    {% for stack in stacks %}
                    <label>
                        <input type="checkbox" name="stack" value="{{stack.0}}"
                        {% if stack.0 in f_stacks %}
                            checked
                        {% endif %}
                        >
                        {{stack.1}}
                    </label>
                    {% endfor %}
                        
                </div>
            </div>
            <div class="filter-section">
                <h3>Local da Vaga</h3>
                <div class="search-bar">
                    <input type="text" name="local" value="{{ request.GET.local }}" id="id_local"
                        placeholder="Cidade...">
                </div>
            </div>
            <button style="display: none;" type="submit">
            </button>
        </form>

        
        {% for candidatura in candidaturas %}
            
        <div class="area-vagas">
            
            <div class="vaga">
                <div id="candidatura-info" class="vaga-info">
                    <h3>{{candidatura.vaga.titulo}}</h3>
                    <div class="candidatura-icons">
                        <p><i class="bi bi-briefcase"></i> {{candidatura.vaga.empresa}}</p>
                        <p><i class="bi bi-geo-alt"></i> {{candidatura.vaga.local}}</p>
                    </div>
                    <div class="candidatura-progress-area">
                        <div class="progress-desc">
                            <p>Progresso</p>
                            <p>{{candidatura.etapa}}/{{candidatura.vaga.qntd_etapas}} Etapa(s)</p>
                        </div>
                        <div class="progress-out">
                            <div style="width: {{candidatura.progresso}}%;" class="progress-in">
                            </div>
                        </div>
                    </div>
                    
                    {% if candidatura.is_ativa == True %}
                        
                        
                    <div class="candidatura-actions">
                        <a href="">Desistir da Vaga</a>
                        <a id="candidatura-details" href="">Ver Andamento</a>
                    </div>
                    
                    {% endif %}
                </div>
            </a>
        </div>

        
        {% endfor %}
            
    </section>
</section>

{% endblock content %}

{% block footer %}
<footer>
    <img src="{% static 'img/logo2.svg' %}" alt="">
    <h3>CodersRecruit © 2024</h3>
    <div></div>
</footer>
{% endblock footer %}
    