{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre-se - Recruit Coders</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %} " type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/auth.css' %} ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav id="unfixed">
        <a href="{% url 'index' %}">
            <i class="bi bi-caret-left-fill"></i>
            VOLTAR
        </a>
        <img src="{% static 'img/logo3.svg' %}" alt="">
    </nav>
    
    {% block content %}
        
    {% endblock content %}
        
    <footer id="unfixed">
        CodersRecruit © 2024
    </footer>
</body>

</html>